@import "_variable";
@import "_fonts";

@import "../componets/main-block/main-block";
@import "adap";

body {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
#checkbox {
  display: none;
}

// SWIPER SLIDERsli
.swiper-container {
  width: 100%;
  min-height: 500px;
  &:hover {
    cursor: url("../../images/circle.svg"), auto;
  }
}
.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  z-index: 5;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-item {
  font-family: Schnyder Cond XL Demi;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: white;
  font-family: Schnyder Cond XL Demi;
  font-size: 100px;
  line-height: 86%;
  text-shadow: -1px 0 maroon, 0 1px maroon, 1px 0 maroon, 0 -1px maroon;
}
.text-mouse {
  position: absolute;
  display: none;
  font-family: TT Travels;
  font-size: 1.1em;
  line-height: 10px;
  letter-spacing: 0.02em;
  color: black;
  z-index: 30;
}

.swiper-slide-active .slide-item {
  color: maroon;
}

.show {
  display: block;
}
.change-slide {
  animation: opacity 300ms ease-in-out;
}
